In [1]:
%matplotlib inline
from copy import deepcopy
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
plt.rcParams['figure.figsize'] = (16, 9)
plt.style.use('ggplot')

In [2]:
train=pd.read_csv("cproducts.csv")

In [3]:
train.head()

,customerID,DOB,Gender,State,PinCode,transactionDate,store_code,store_description,till_no,transaction_number_by_till,promo_code,promotion_description,product_code,product_description,sale_price_after_promo,discountUsed
0,BBID_20482,1975-10-20,male,MADHYA PRADESH,453441.0,2016-05-01,2655,BB-INDORE-MALHAR MEGA MALL,2,85246,NONPROMO,NaN,1000446431,PATANJALI CHOCOS 125g,55.00,Payback
1,BBID_20485,1955-07-21,female,NaN,999999.0,2017-03-09,2655,BB-INDORE-MALHAR MEGA MALL,8,78829,NONPROMO,NaN,1000010431,SOO FRESH ROLLS HOT DOG 4P,30.00,Payback
2,BBID_20498,1981-03-19,female,MAHARASHTRA,400064.0,2015-08-12,2655,BB-INDORE-MALHAR MEGA MALL,13,1064,0000971754,AD 399 FLAT LADIES JEANS FASHION EXC,1000077851005,"DLJ-0010-BSF-2-CJ-FL, 34, BLACK",418.95,Payback
3,BBID_20499,1986-05-10,male,MAHARASHTRA,400099.0,2016-12-18,2615,BB-AMRITSAR-TRILIUM MALL,14,51080,NONPROMO,NaN,1000443231,PATANJALI TOMATO KETCHUP BT 500g,70.00,Payback
4,BBID_204110,1988-02-29,male,MADHYA PRADESH,474001.0,2015-12-31,2655,BB-INDORE-MALHAR MEGA MALL,9,21911,0000974126,NMP 5% OFF CONCEPT DISCOUNT 2655,300481741,MAGGI NDL MERI MASALA PP 70g,34.20,Payback

In [4]:
store= train[train['store_code']==4796]

In [5]:
type(store)

pandas.core.frame.DataFrame

In [6]:
del store['customerID']
del store['DOB']

In [7]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

In [8]:
f1=le.fit_transform(store["promo_code"])
f2=le.fit_transform(store["product_code"])

In [9]:
#kmeans(f1,f2,3)

In [10]:
f3=[f1,f2]

In [11]:
f3=pd.DataFrame(f3)

In [12]:
f3=f3.transpose()

In [13]:
f4=f3.iloc[0:10]

In [14]:
def KM(data,k):
    n = data.shape[0]
    c = data.shape[1]
    mean = np.mean(data, axis = 0).values
    std = np.std(data, axis = 0).values
    centers = (np.random.randn(k,c))*std + mean
    centers_old = np.zeros(centers.shape) 
    centers_new = deepcopy(centers)
    clusters = np.zeros(n)
    distances = np.zeros((n,k))
    error = np.linalg.norm(centers_new - centers_old)
    dict1={}
    while error != 0:
        for i in range(k):
            distances[:,i] = np.linalg.norm(data - centers[i], axis=1)
            clusters = np.argmin(distances, axis = 1)
            centers_old = deepcopy(centers_new)
        for i in range(k):
            centers_new[i] = np.mean(data[clusters == i], axis=0)
            dict1[i+1]=data[clusters == i]
        error = np.linalg.norm(centers_new - centers_old)
    return dict1

In [15]:
KM(f4,3)

{1:      0    1
 0  576  741
 5   87  898
 6   52  267
 7  576  450
 8  576   35
 9  576  123, 2:      0     1
 2  576  1399
 4  534  1394, 3:      0     1
 1  172  1720
 3  576  1578}