In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import math
import operator

In [2]:
df=pd.read_csv(r"C:\Users\Vigneshwaraa Sarang\Downloads\Data Science\Data sets\Forest Classifier\train.csv")
df['Cover_Type'].value_counts()

7    2160
6    2160
5    2160
4    2160
3    2160
2    2160
1    2160
Name: Cover_Type, dtype: int64

In [3]:
x,y=train_test_split(df,test_size=0.33)

In [4]:
x2=pd.DataFrame(x)
y2=pd.DataFrame(y)

In [5]:
x2.shape

(10130, 56)

In [27]:
x2.head()

,Id,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,...,Soil_Type32,Soil_Type33,Soil_Type34,Soil_Type35,Soil_Type36,Soil_Type37,Soil_Type38,Soil_Type39,Soil_Type40,Cover_Type
14844,14845,3235,185,16,30,-12,2470,221,249,156,...,0,0,0,0,0,0,0,0,0,1
9663,9664,3731,334,14,987,285,5254,186,220,173,...,0,0,0,0,0,0,0,0,1,7
279,280,3008,135,3,931,36,5727,224,238,150,...,0,0,0,0,0,0,0,0,0,2
14670,14671,3326,23,5,60,8,2038,217,228,148,...,0,0,0,0,0,0,0,1,0,7
4055,4056,2276,326,18,0,0,1138,174,218,183,...,0,0,0,0,0,0,0,0,0,4

In [6]:
y3=y2.iloc[0:100]

In [7]:
y4=y3.drop('Cover_Type',axis=1)

In [8]:
y4.shape

(100, 55)

In [9]:
def ED(x1, x2, length):
    distance = 0
    #print(len(x1))
    for x in range(length):
        distance += np.square(x1[x] - x2[x])
    return np.sqrt(distance)
def knn(trainingSet, testInstance, k):
    sort1=[]
    for y in range(len(testInstance)):
        bb=(testInstance.iloc[y]).tolist()
    
        distances ={}
        sort = {}
        length =len(bb)
        for x in range(len(trainingSet)):
            aa=(trainingSet.iloc[x]).tolist()
            dist = ED(bb,aa, length)
            distances[x] = dist
        sortdist = sorted(distances.items(), key=operator.itemgetter(1))
                
        neighbors = []
        for x in range(k):
            neighbors.append(sortdist[x][0])
   
        Votes = {}
        for x in range(len(neighbors)):
            response = trainingSet.iloc[neighbors[x]][-1]
            if response in Votes:
                Votes[response] += 1
            else:
                Votes[response] = 1
        sortvotes = sorted(Votes.items(), key=operator.itemgetter(1), reverse=True)
        #print(sortvotes)
        sort1.append(sortvotes[0][0])
    return sort1

In [23]:
aa1=knn(x2,y4,3)

In [24]:
from sklearn.metrics import accuracy_score

In [25]:
aa2=y3.iloc[:,-1]

In [26]:
accuracy_score(aa2,aa1)

0.83

In [14]:
x_train=x2.drop('Cover_Type',axis=1)
y_train=x2.iloc[:,-1]

In [56]:
from sklearn.neighbors import KNeighborsClassifier
neigh = KNeighborsClassifier(n_neighbors=1)

In [57]:
neigh.fit(x_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=1, p=2,
                     weights='uniform')

In [58]:
aa3=neigh.predict(y4)

In [59]:
accuracy_score(aa2,aa3)

0.86