In [4]:
import pandas as pd
import numpy as np

In [5]:
play=pd.read_csv("play_tennis.csv")

In [6]:
play

    day   outlook  temp humidity    wind play
0    D1     Sunny   Hot     High    Weak   No
1    D2     Sunny   Hot     High  Strong   No
2    D3  Overcast   Hot     High    Weak  Yes
3    D4      Rain  Mild     High    Weak  Yes
4    D5      Rain  Cool   Normal    Weak  Yes
5    D6      Rain  Cool   Normal  Strong   No
6    D7  Overcast  Cool   Normal  Strong  Yes
7    D8     Sunny  Mild     High    Weak   No
8    D9     Sunny  Cool   Normal    Weak  Yes
9   D10      Rain  Mild   Normal    Weak  Yes
10  D11     Sunny  Mild   Normal  Strong  Yes
11  D12  Overcast  Mild     High  Strong  Yes
12  D13  Overcast   Hot   Normal    Weak  Yes
13  D14      Rain  Mild     High  Strong   No

In [7]:
a=play['play'].value_counts()
proby=a[1]/len(play['play'])
proby

0.35714285714285715

In [8]:
def tab(dataset,col):
        tab=pd.crosstab(index=dataset[col],columns=dataset.ix[:,-1])
        tab["Total"]=tab["No"]+tab["Yes"]
        tab["p(val)"]=tab["Total"]/sum(tab["Total"])
        tab["p(yes/val)"]=tab["Yes"]/sum(tab["Yes"])
        tab["p(no/val)"]=tab["No"]/sum(tab["No"])
        return tab

In [9]:
wind=tab(play,'wind')
outlook=tab(play,'outlook')
humidity=tab(play,'humidity')
temp=tab(play,'temp')

C:\Users\Vigneshwaraa Sarang\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

In [10]:
tab1=pd.concat([wind,outlook,humidity,temp])

In [11]:
tab1

play      No  Yes  Total    p(val)  p(yes/val)  p(no/val)
Strong     3    3      6  0.428571    0.333333        0.6
Weak       2    6      8  0.571429    0.666667        0.4
Overcast   0    4      4  0.285714    0.444444        0.0
Rain       2    3      5  0.357143    0.333333        0.4
Sunny      3    2      5  0.357143    0.222222        0.6
High       4    3      7  0.500000    0.333333        0.8
Normal     1    6      7  0.500000    0.666667        0.2
Cool       1    3      4  0.285714    0.333333        0.2
Hot        2    2      4  0.285714    0.222222        0.4
Mild       2    4      6  0.428571    0.444444        0.4

In [12]:
def prob(*args):
    aa=[]
    bb=[]
    for arg in args:
        c=play['play'].value_counts()
        cc=a[0]/len(play['play'])
        aa.append(tab1.loc[arg,"p(val)"])
        bb.append(tab1.loc[arg,"p(yes/val)"])
    dd=np.prod(aa)
    ee=np.prod(bb)
    prby=((cc*ee)/dd)
    #print(prby)
    ff=[]
    gg=[]
    for arg in args:
        j=play['play'].value_counts()
        jj=a[1]/len(play['play'])
        ff.append(tab1.loc[arg,"p(val)"])
        gg.append(tab1.loc[arg,"p(no/val)"])
    hh=np.prod(ff)
    ii=np.prod(ff)
    prbn=((jj*ii)/hh)
    #print(prbn)
    if prby>prbn:
        print("Play")
    else:
        print("Don't Play")

In [31]:
prob('Rain','Strong','High','Mild')

Don't Play

In [14]:
from sklearn.naive_bayes import GaussianNB

In [15]:
gb=GaussianNB()

In [25]:
y=play['play']

In [29]:
cols=['outlook','temp','humidity','wind']
x=play[cols]

In [32]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [33]:
for col in cols:
    x.loc[:,col] = le.fit_transform(x.loc[:,col].astype('str'))

C:\Users\Vigneshwaraa Sarang\Anaconda3\lib\site-packages\pandas\core\indexing.py:635: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item_labels[indexer[info_axis]]] = value
C:\Users\Vigneshwaraa Sarang\Anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [52]:
x

    outlook  temp  humidity  wind
0         2     1         0     1
1         2     1         0     0
2         0     1         0     1
3         1     2         0     1
4         1     0         1     1
5         1     0         1     0
6         0     0         1     0
7         2     2         0     1
8         2     0         1     1
9         1     2         1     1
10        2     2         1     0
11        0     2         0     0
12        0     1         1     1
13        1     2         0     0

In [34]:
gb.fit(x,y)

GaussianNB(priors=None, var_smoothing=1e-09)

In [54]:
x_target=x.ix[13]

C:\Users\Vigneshwaraa Sarang\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [55]:
x_target

outlook     1
temp        2
humidity    0
wind        0
Name: 13, dtype: int32

In [57]:
gb.predict([[1,2,0,0]])

array(['No'], dtype='<U3')

In [56]:
gb.predict(x_target)

ValueError: Expected 2D array, got 1D array instead:
array=[1 2 0 0].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.